!!!
%html
  %head
    %title Myauth
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar
      .navbar-inner
        %a.brand{:href => "/"} FakeTwitter &copy;
        %ul.nav
          -if current_user
            %li
              =link_to "Profile", user_path(current_user)
            %li
              =link_to "Users", users_path
            %li
              =link_to "Log out", log_out_path
          -else
            %li
              =link_to "Sign up", sign_up_path
            %li
              =link_to "Log in", log_in_path
    .row
      .span10.offset1
        -if flash[:notice]
          .notice
            =flash[:notice]
        -if flash[:alert]
          .alert
            =flash[:alert]
        = yield